<section class="card">
    <header>{{recipe}}</header>

    <div class="card-body">
        <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{username}}</p>
    </div>
</section>