<section>
    <h2> Create a New Recipe</h2>

    <form method="POST" action="/api/recipes" class="new-recipe-form" enctype="multipart/form-data">
        <div>
            <label for="recipe-title"> Recipe Title</label>
            <input type="text" id="recipe-title" name="recipe-title"/>
            <label for="recipe-text" class="Descrip"> Recipe Description</label>
            <input type="text" id="recipe-text" name="recipe-text"/>
            <label for="filename">Image</label>
            <input type="file" id="filename" name="filename" required>
        </div>
        <button type="submit" class="btn" >Create Recipe</button>
    </form>
</section>

{{#if recipes.legnth}}
<section>
    <h2>Your Recipes</h2>
    <ol>
        {{#each recipes as |recipe|}}
        <li>
            {{> recipe-info recipe}}
            <a href="/dashboard/edit/{{recipe.id}}" class="edit-link">Edit Recipe</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/js/add-recipe.js"></script>