<article>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>
        Edit Recipe
    </h2>
    <form class="edit-recipe-form">
        <div>
            <input name="recipe-title" type="text" value="{{recipe.title}}"/>
        </div>
        <button type="submit">Save Recipe</button>
        <button type="button" class="delete-recipe-btn"> Delete Recipe</button>
    </form>
</article>

<script src="/js/edit-recipe.js"></script>
<script src="/js/delete-recipe.js"></script>
<script src="/js/recipe.js"></script>