<section class="container">
    <h3 class="menu-name">{{menu.menu}}</h3>
    <section class="flex-row justify-center">
        {{#each menu.recipes as ||recipe||}}
        {{> recipe-info}}
        {{/each}}
    </section>
</section>