<section class="recipes">
    <img src="/images/{{recipe.filename}}" alt="{{recipe.description}}">
    <div class="recipe-info">
        <h3>{{recipe.recipe}}</h3>
        <p> By: {{recipe.username}}</p>
    </div>
    </section>