<section class="recipe">
    <img src="/images/{{recipes.filename}}" alt="{{recipes.description}}">
    <div class="recipe-details">
        <h3>{{recipes.recipe}}</h3>
        <p> By: {{recipes.username}}</p>
    </div>
    </section>