:root {
    --babyblue: #25c4cf;
    --navbar: #1d80dd;
    --tertiary: #7bc4b5;
    --quatrinary: #96948f;
    --text: #000000;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
    border-width: 10px;
    border-style: groove;
    border-color: wheat;
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: right;
    background: var(--babyblue);
    color: var(--text);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  
  footer {
    flex: auto;
    flex-wrap: wrap;
    background-color: var(--tertiary);
    padding: 25px 20px;    
    text-align: center;
    color: var(--text);
    border-width: 10px;
    border-style: inset;
    border-color: lavender;
    position: relative;
    float: left;
    justify-content: center;
    width: 100%;
  }
  
  nav {
    display: flex;
    background-color: var(--navbar);
    border-width: 15px;
    padding: 15px;
    border-style: ridge;
    border-color:lightgrey
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
    border-radius: 7rem;
  }
  
  .recipes{
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .recipe {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .recipe-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .big-card {
    flex: auto;
    flex-wrap: wrap;
    padding: 5px 20px 5px 20px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .login-card {
    margin: 0 300px 0px 20px;
    }


  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }

  .carousel-item {
    height: 300px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  
  .menu-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }
